.textBlockBtn {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 0 50px 0;
}

.textBlockBtn h1 {
    color: rgba(149,76,214,1);
}

.textBlockBtn p {
    width: 860px;
}

.textBlockBtn .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(60deg,
        #f79533, #f37055, #ef4e7b, #a166ab,
        #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 400% 400%;
    text-align: center;
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    animation: gradient 3s ease-in-out infinite;
    color: white;
}

/* Motion frames */
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}