.featuredTalks {
    display: grid;
    grid-template-colums: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0080bf;
    padding: 50px 20px;
}

.featuredTalks h1 {
    color: white;
}

.cardsSection {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 290px;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
    .cardsSection {
        grid-template-columns: 290px 290px;
    }
}

@media only screen and (min-width: 900px) {
    .cardsSection {
        grid-template-columns: 290px 290px 290px;
    }
}

@media only screen and (min-width: 1230px) {
    .cardsSection {
        grid-template-columns: 290px 290px 290px 290px;
    }
}

.singleCard {
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    overflow: hidden;

}

.singleCard:hover{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.singleCard img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.singleCardText {
    padding: 0 20px 20px;
}

.singleCard h2 {
    text-size: 1.2rem;
}

.singleCard p {}
.author{
    font-weight: bold;
}

.position{
    font-style: italic;
}
.moreDetails{
    text-align: center;
    font-weight: bold;
}
